<section class="loginBg  d-flex justify-content-center align-items-center">
    <div class="container-fluid d-flex justify-content-center align-items-center">
        <div class="row d-flex justify-content-center align-items-center">
          
          <div class="col-md-10  me-auto">
                <div class="row g-0 ">
                    <div class="col-4  bg-white brdrRad">
                 <div class="d-flex  align-items-center justify-content-center">
                    <div class="container inputLogin pt-5 pb-5  labels">
                      <div class="mailAndPass pt-5 pb-5">
                        <div class="form-floating mb-3">
                            <p class="rememberMe">اسم المستخدم او البريد الالكتروني</p>
                            <input type="email" class="form-control bg-light" id="floatingInput" placeholder="name@example.com">
                            
                          </div>
                          <div class="form-floating mb-3">
                            <p class="rememberMe">كلمة السر</p>
                            <input type="password" class="form-control bg-light" id="floatingPassword" placeholder="Password">
                    
                          </div>
                      </div>
                          <div class="row mb-3  pb-5">
                            <div class="col-sm-10 offset-sm-2  w-100 d-flex justify-content-between align-items-center">
                              <div class="form-check">
                                <input class="mt-3 bg-light" type="checkbox" id="gridCheck1">
                                <label class="form-check-label p-2 rememberMe" for="gridCheck1">
                                  تذكرني
                                </label>
                              </div>
                              <a routerLink=""> هل نسيت كلمة السر؟</a>
                            </div>
                          </div>
                          <div class="d-grid gap-2 pb-5 col-6 mx-auto">
                            <button class="btn btn-submit" type="button" routerLink="/files">تسجيل الدخول</button>
                          </div>
                      </div>
                 </div>
                          
                    </div>
                    <div class="col-6 ">
                        <div class="seeArt w-100 h-100">
                          <img src="../../assets/Images/login/seeArt.png" class="w-100 h-100" alt="seeArtBG">
                          <div class="logoLayer">
                                <div class="logo">
                                  <img src="../../assets/Images/Home/logo.png" alt="logo">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>