<div class="  bg-light ">
    <div class=" pb-5 container ">
        <section class="mt-5 pt-5 pb-5 sectionOfTable">
            <div class=" pb-3 ">
                <div>
                    <h2 class="text">الرئيسية/المستندات</h2>

                </div>

            </div>
            <div class="row">
                <div class="col-md-7 ">
                    <div class=" tableOfFiles ">
                        <div
                            class=" headOfInputs mb-3  pe-3 d-flex justify-content-between pb-3 align-items-center">
                            <div class="w-50">
                                <h2 class="filesHeading"> المستندات </h2>
                            </div>
                       
                        </div>
                        <div class="ps-3 pe-3 ">
                            <div class="row g-2">
                                <div class="col-sm-12">
                                    <table class="table text-end border-top  ">
                                        <thead class="">
                                            <tr>
                                                <th scope="col" class="tableHeadTr">رقم المستند</th>
                                                <th scope="col" class="tableHeadTr">الصفحة من </th>
                                                <th scope="col" class="tableHeadTr">الصفحة الي </th>
                                                <th scope="col" class="tableHeadTr">ربط الطبقات </th>
                                                <th scope="col" class="tableHeadTr"> حالة النشر </th>

                                                <th scope="col" class="tableHeadTr">الإجراء</th>
                                            </tr>
                                        </thead>
                                        <tbody class="tableData">

                                            <tr>
                                                <th scope="row" class="tableData">
                                                    1025
                                                </th>
                                              <td>1</td>
                                              <td>25</td>
                                              <td>0</td>
                                              <td>عام</td>

                                          
                                    
                                              <td class="text-center  d-flex justify-content-center align-items-center" >
                                                <div class="w-50 position-relative ">
                                                  <img src="../../assets/Images/Table/file 1.png" class="ms-2"  alt="PDF">
                                                  <span class=" pdfBadge translate-middle badge roun">
                                                    2
                                                    <span class="visually-hidden">unread messages</span>
                                                  </span>
                                                </div>
                                                <img src="../../assets/Images/Table/view 1.png" alt="View">

                                               
                                              </td>
                                           
        
                                              </tr>



                                        </tbody>


                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="me-4 ">

                        <div class="">
                            <div class="row">

                                <div class="col-md-12 bg-white ">
                                    <div class="tableOfFiles">
                                        <div class="pb-3 pe-3 mb-3 headOfInputs">
                                            <h2 class="filesHeading"> المستندات </h2>

                                        </div>
                                        <div class="pe-4 ps-4">

                                            <img src="../../assets/Images/tech-processAction/Group 427319123 1.jpg"
                                                class="w-100" alt="map">
                                        </div>
                                    </div>
                                </div>





                            </div>




                        </div>



                    </div>
                </div>
            </div>
            <section class="tableOfFiles mt-5 ">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="d-flex justify-content-end align-items-center ps-5">
                                <button type="button"  class="cancel">الرجوع</button>
                                <button type="button" class="archieve">ارشيف</button>
                                <button type="button" class="SendDocuments"> نشر</button>

                            </div>
                        </div>
                    </div>
                </div>

            </section>

<div class="modalOftechpage3 ">




<!--Modal OF لم تقم بإضافة أي فهرس ، هل تريد إضافة المستند بأكمله كفهرس؟-->
<div class="d-flex justify-content-center align-items-center bg-primary">
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal"
data-bs-target="#exampleModal4">
Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade " id="exampleModal4" tabindex="-1"
aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="row justify-content-center align-items-center">
<div class="col-sm-12 ">
    <div class="d-flex justify-content-center align-items-center  vh-100">
        <div class="modal-dialog">
            <div class="modal-content ">
                <div class="modal-header p-3  mb-2">
                    <h1 class="modal-title   fs-5" id="exampleModalLabel">انشاء مستند فرعي</h1>
                    <button type="button" class="btn-close"
                        data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="w-100  bg-white">

                        <div class="p-2">

                      





                        </div>



                    </div>

                </div>
                <div class="modal-footer mb-5 d-flex justify-content-center align-items-center">
                    <button type="button" class="No">لا</button>

                    <button type="button" class=" save">نعم</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

</div>
</div>

<!--Modal Of رفض-->
<div class="d-flex justify-content-center align-items-center bg-primary">
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal"
data-bs-target="#exampleModal5">
Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade " id="exampleModal5" tabindex="-1"
aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="row justify-content-center align-items-center">
<div class="col-sm-12 ">
    <div class="d-flex justify-content-center align-items-center  vh-100">
        <div class="modal-dialog">
            <div class="modal-content ">
                <div class="modal-header p-3  mb-2">
                    <h1 class="modal-title   fs-5" id="exampleModalLabel">رفض  </h1>
                    <button type="button" class="btn-close"
                        data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="w-100  bg-white">

                        <div class="">

                            
                            <div class="col-md-12">

                                <div>
                                    <h4 class="filterationData">
                                        ارسال الي  </h4>

                                    <select
                                        class="form-select transActionInputs mb-2 ">
                                        <option selected> مدير عام 
                                        </option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>
                                <div >
                                    <h4 class="filterationData">اكتب ملاحظتك</h4>
                    
                                    <input type="text" class="form-control transActionInputsII mb-2 " placeholder="اكتب ملاحظتك">
                                  </div>
                            </div>







                        </div>



                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class=" save">رفض</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

</div>
</div>


<!--Modal Of اعادة توجيه (المدير)-->
<div class="d-flex justify-content-center  align-items-center bg-primary">
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal"
data-bs-target="#exampleModal6">
Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade " id="exampleModal6" tabindex="-1"
aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="row justify-content-center  align-items-center ">
<div class="col-sm-12 d-flex  justify-content-center align-items-center  vh-100">
    <div class="modal-dialog  w-25">
        <div class="modal-content w-75  m-5">
            <div class=" ">
                <div class="modal-header p-3  mb-2 ">
                    <h1 class="modal-title   fs-5" id="exampleModalLabel">رفض  </h1>
                    <button type="button" class="btn-close"
                        data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body p-3 mb-2 ">
                    <div>

                        <form>
                       <div class="d-flex align-items-center">
                        <input type="radio" id="option1" name="radioOptions" value="option1">
                        <label for="option1" class="me-2">عام</label> 
                       </div>
                          
               <div class="d-flex align-items-center ">
                <input type="radio" id="option2" name="radioOptions" value="option2">
                <label for="option2" class="me-2">خاص</label>
               </div>
                          
                          </form>
                     <div>
                        <h4 class="filterationData">
                            اختر المجموعة  </h4>

                        <select
                            class="form-select transActionInputs mb-2 ">
                            <option selected> اختر المجموعة 
                            </option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                     </div>

                     <div>
                        <h4 class="filterationData">
                            اختر الاعضاء  </h4>

                        <select
                            class="form-select transActionInputs mb-2 ">
                            <option selected> اختر الاعضاء 
                            </option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                     </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class=" save">رفض</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

</div>
</div>


<!--Modal Of اعادة توجيه2 (المدير)-->
<div class="d-flex justify-content-center  align-items-center bg-primary">
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal"
data-bs-target="#exampleModal7">
Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade " id="exampleModal7" tabindex="-1"
aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="row justify-content-center  align-items-center ">
<div class="col-sm-12 d-flex  justify-content-center align-items-center  vh-100">
    <div class="modal-dialog  w-25">
        <div class="modal-content w-75  m-5">
            <div class=" ">
                <div class="modal-header p-3  mb-2 ">
                    <h1 class="modal-title   fs-5" id="exampleModalLabel">رفض  </h1>
                    <button type="button" class="btn-close"
                        data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body p-3 mb-2 ">
                    <div>

                        <form>
                       <div class="d-flex align-items-center">
                        <input type="radio" id="option1" name="radioOptions" value="option1">
                        <label for="option1" class="me-2">عام</label> 
                       </div>
                          
               <div class="d-flex align-items-center ">
                <input type="radio" id="option2" name="radioOptions" value="option2">
                <label for="option2" class="me-2">خاص</label>
               </div>
                          
                          </form>
                   
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class=" save">رفض</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

</div>
</div>

</div>

        </section>
    </div>
</div>
