<div class="  bg-light ">
    <div class=" pb-5 container ">
   
      <section class="mt-5 pt-5 pb-5 sectionOfTable">
        <div class=" pb-3 ">
          <h2 class="text">الرئيسية/المستندات</h2>
        

      </div>
       <div class=" tableOfFiles bg-white">
      
        <div class="ps-3  pe-3 pb-3">
          <h2 class="filesHeading">انشاء معاملة</h2>
          

      </div>
      <div class="ps-3 pe-3 ">
        <div class="row g-2 ">

          <div class="col-sm-12 col-md-6">
   <div class=" inputDisplay">

    <div>
        <h4 class="filterationData">معرف العملية <span>*</span></h4>
        
        <input type="text" id="TransactionNumber" class="form-control transActionInputs mb-2 ">
      </div>

<div>
    <h4 class="filterationData">مستوي السرية <span>*</span></h4>

    <select class="form-select transActionInputs mb-2 " >
      <option selected>قم باختيارالدولة</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
</div>



    <div>
      <h4 class="filterationData">التاريخ <span>*</span></h4>

      <select class="form-select form-selectDate transActionInputs mb-2 " >
        <option selected>التاريخ</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>





<div>
  <h4 class="filterationData">السلطة  <span>*</span></h4>

  <select class="form-select transActionInputs mb-2 " >
    <option selected>قم باختيار مستوي السرية</option>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
  </select>
</div>
<div>
    <h4 class="filterationData">موقع المستند<span>*</span></h4>
    
    <input type="text" id="TransactionNumber" class="form-control transActionInputs mb-2 ">
  </div>

  <div>
    <h4 class="filterationData">الموضوع <span>*</span></h4>

    <input type="text" class="form-control transActionInputsII mb-2 ">
  </div>

   </div>
          </div>

          <div class="col-sm-12 col-md-6">
            <div class="">
                <div>
                    <h4 class="filterationData"> نوع العملية <span>*</span></h4>
    
                    <select class="form-select transActionInputs mb-2 " >
                      <option selected>قم باختيارالدولة</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                </div>
                <div>
                    <h4 class="filterationData">اولوية  <span>*</span></h4>
    
                    <select class="form-select transActionInputs mb-2 " >
                      <option selected>قم باختيارالدولة</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                </div>

   <div>
    <h4 class="filterationData">الدولة  <span>*</span></h4>

    <select class="form-select transActionInputs mb-2 " >
      <option selected>قم باختيارالدولة</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
</div>

<div>
    <h4 class="filterationData"> رمز التوثيق <span>*</span></h4>
    
    <input type="text" id="TransactionNumber" class="form-control transActionInputs mb-2 ">
  </div>

<div>
<h4 class="filterationData">ارفع الملف <span>*</span></h4>

<input type="text" class="form-control transActionInputs mb-2 updloadFile">
</div>


<div>
    <h4 class="filterationData">الموضوع <span>*</span></h4>

    <input type="text" class="form-control transActionInputsII mb-2 ">
  </div>

             </div>

          </div>

          <div class="col-sm-12   ">
            <div class="">
                <h4 class="filterationData"> ارفاق معاملة بمعاملة قديمة  <span>*</span></h4>
            
                <input type="text" id="TransactionNumber" class="form-control transActionInputs mb-2 ">
            </div>
          
          </div>

        </div>
    
      

      </div>
       </div>


       <section class="tableOfFiles mt-5">
        <div class="d-flex justify-content-end align-items-center ps-5">
          <span class="saveAsDraft">حفط كمسودة</span>
         <button class="archieve">ارشيف</button>
         <button class="SendDocuments" data-bs-toggle="modal"
         data-bs-target="#sendDocument">ارسال الاعتماد</button>


        </div>

       </section>



              <!--Modal Of  اكتب ملاحظتك-->
              <div class="d-flex justify-content-center  align-items-center ">
       
    
                <!-- Modal -->
                <div class="modal fade " id="sendDocument" tabindex="-1"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="row justify-content-center  align-items-center ">
                        <div class="col-sm-12 d-flex  justify-content-center align-items-center  vh-100">
                            <div class="modal-dialog  w-50">
                                <div class="modal-content w-100 m-5">
                                    <div class=" ">
                                        <div class="modal-header   mb-2 ">
                                            <h1 class="modal-title   fs-5" id="exampleModalLabel">ارسال للاعتماد  </h1>
                                            <button type="button" class="btn-close"
                                                data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body p-4  mb-2 ">
                                          <div class=" ">
                                            <div class="">
                                              <h4 class="filterationData">  اكتب ملاحظتك </h4>
      
                                              <input type="text" class="form-control transActionInputsII mb-2 " placeholder="اكتب ملاحظتك">
      
                                            </div>
                                           
                                            <div class="text-start">
                                            
                                          
                                              <button class="filterNextButton">ارسال </button>
                                            </div>
                                          
                                          </div>
                                        </div>
                                     
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
          
                </div>
            </div>
       
      
      </section>

  </div>
   </div>