<div class="  bg-light ">
    <div class=" pb-5 container ">

      <section class="mt-5 pt-5 pb-5 sectionOfTable">
        <div class=" pb-3 ">
          <h2 class="text">الرئيسية/المستندات</h2>


        </div> 
        
        <div class="row">
          <div class="col-md-6 ">
            <div class=" tableOfFiles h-100">

              <div class="ps-3  pe-3 ">
                <h2 class="filesHeading">انشاء معاملة</h2>

              </div>
              <div class="ps-3 pe-3 ">
                <div class="row g-2">

                  <div class="col-sm-12 ">
                    <div class=" inputDisplay">
                   <div>
                    <h4 class="filterationData">نوع المستند </h4>

                    <select class="form-select transActionInputs mb-2 ">
                      <option selected>نوع المستند</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                   </div>
                   <div>
                    <h4 class="filterationData">المصدر </h4>

                    <select class="form-select transActionInputs mb-2 ">
                      <option selected>المصدر</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                   </div>

                      <div>
                        <h4 class="filterationData">تاريخ المستند </h4>

                        <select class="form-select form-selectDate transActionInputs mb-2 ">
                          <option selected>التاريخ</option>
                          <option value="1">One</option>
                          <option value="2">Two</option>
                          <option value="3">Three</option>
                        </select>
                      </div>
                      

                        <div>
                            <h4 class="filterationData">الحقوق  </h4>
    
                            <input type="text" class="form-control transActionInputs" placeholder="الحقوق">
                          </div>


                          <div>
                            <h4 class="filterationData">رمز الوثيقة </h4>
    
                            <input type="text" class="form-control transActionInputs" placeholder="رمز الوثيقة">
                          </div>


                          <div>
                            <h4 class="filterationData">تاريخ التقديم لدي الامم المتحدة </h4>

                            <select class="form-select form-selectDate transActionInputs mb-2 ">
                              <option selected>تاريخ التقديم لدي الامم المتحدة</option>
                              <option value="1">One</option>
                              <option value="2">Two</option>
                              <option value="3">Three</option>
                            </select>
                          </div>


                          <div>
                            <h4 class="filterationData">رقم الايداع </h4>
    
                            <input type="text" class="form-control transActionInputs" placeholder="رقم الايداع">
                          </div>

                          <div>
                            <h4 class="filterationData">رابط الوثيقة عن الامم المتحدة </h4>
    
                            <input type="text" class="form-control transActionInputs" placeholder="رابط الوثيقة عن الامم المتحدة">
                          </div>



                      <div>
                        <h4 class="filterationData">نوع المصدر </h4>

                        <select class="form-select transActionInputs mb-2 ">
                          <option selected>نوع المصدر</option>
                          <option value="1">One</option>
                          <option value="2">Two</option>
                          <option value="3">Three</option>
                        </select>
                      </div>

                      <div class="row">
                        <div class="col-6">
                            <div>
                                <h4 class="filterationData">الصفحة من</h4>
        
                                <input type="text" class="form-control transActionInputs" placeholder="الصفحة من">
                              </div>
                        </div>

                        <div class="col-6">
                            <div class="me-md-2">
                                <h4 class="filterationData">الصفحة الى</h4>
        
                                <input type="text" class="form-control transActionInputs" placeholder="الصفحة الى">
                              </div>
                        </div>
                      </div>

                      <div>
                        <h4 class="filterationData">الموضوع </h4>
        
                        <input type="text" class="form-control transActionInputsII mb-2 " placeholder="الموضوع">
                      </div>
               

                    </div>
                  </div>





                </div>









              </div>



            </div>
          </div>
         <div class="col-md-6 ">
          <div class="  h-100">

            <div class="  h-100 me-md-3"> 
              <div class="row  h-100 ">

                <div class="col-md-12 bg-white mb-5">
                  <div class="p-3 text-center">
                    <img src="../../assets/Images/info/Map.png" class="w-75" alt="map">
                  </div>
                </div>

                <div class="col-md-12 bg-white mt-5">
                  <div class=" p-3 point text-center">
                   <h3>رقم الفهرس : فهرس 1</h3>
                   <div>
                    <h4 class="filterationData">اسم الطبقة </h4>

                    <select class="form-select transActionInputsIII bg-white mb-2 ">
                      <option selected>اسم الطبقة</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                  </div>
                  <div>
                    <h4 class="filterationData">نوع الطبقة </h4>

                    <select class="form-select transActionInputsIII bg-white mb-2 ">
                      <option selected>اختر نوع الطبقة</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                  </div>
                  

                  <table class="table text-start border-top mt-3 ">
                    <thead class="">
                      <tr>
                        <th scope="col" class="tableHeadTr"></th>
                        <th scope="col" class="tableHeadTr">رقم الميزة</th>
                        <th scope="col" class="tableHeadTr">الدولة</th>
                        <th scope="col" class="tableHeadTr"> فئة الحدود</th>
                        <th scope="col" class="tableHeadTr">نوع الحدود</th>
                      </tr>
                    </thead>
                    <tbody class="tableData  ">
                      <tr >
                        <th scope="row" class="tableData">
                            <input type="checkbox">
                        </th>
                      <td>1025</td>
                      <td>قطر</td>
                      <td>فئة الحدود</td>
                      <td>حدود بحريه</td>

                  
                        
                   

                      </tr>
                      
                      <tr >
                        <th scope="row" class="tableData">
                            <input type="checkbox">
                        </th>
                      <td>1025</td>
                      <td>قطر</td>
                      <td>فئة الحدود</td>
                      <td>حدود بحريه</td>

                  
                        
                   

                      </tr>

                      <tr >
                        <th scope="row" class="tableData">
                            <input type="checkbox">
                        </th>
                      <td>1025</td>
                      <td>قطر</td>
                      <td>فئة الحدود</td>
                      <td>حدود بحريه</td>

                  
                        
                   

                      </tr>
                   
                 

                 
                   
                
                    </tbody>
                  </table>

                  <div class="w-100 d-flex justify-content-end mt-2 ">
                    <button type="button" class="attached">ربط</button>
                  </div>

                  </div>
                </div>



              </div>




            </div>



          </div>
         </div>
        </div>

        <section class="tableOfFiles  mt-5 ">
          <div class="container-fluid">
            <div class="row ">
              <div class="col-sm-12 ">
                <div class="d-flex justify-content-end align-items-center ps-3">
                  <button class="archieve">الغاء</button>
                  <button class="SendDocuments"> العودة</button>

                </div>
              </div>
            </div>
          </div>

        </section>
      </section>

    </div>
  </div>
