<div class="  bg-light ">
    <div class=" pb-5 container ">
        <section class="mt-5 pt-5 pb-5 sectionOfTable">
            <div class=" pb-3 ">
                <h2 class="text">الرئيسية/المستندات</h2>
            </div>
            <div class="row">
                <div class="col-md-6 ">
                    <div class=" tableOfFiles ">
                        <div class="p-3 headOfInputs mb-3">
                            <h2 class="filesHeading">عملية المعلومات </h2>
                        </div>
                        <div class="ps-3 pe-3 ">
                            <div class="row g-2">
                                <div class="col-sm-12">
                                    <div class=" inputDisplay">
                                        <div class="spaces">
                                            <h4 class="filterationData">نوع المستند </h4>

                                            <select class="form-select transActionInputs mb-2 ">
                                                <option selected>نوع المستند</option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                        </div>

                                        <div class="spaces"> 
                                            <h4 class="filterationData">المصدر </h4>

                                            <select class="form-select transActionInputs mb-2 ">
                                                <option selected>المصدر </option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                        </div>

                                        <div class="spaces">
                                            <h4 class="filterationData">تاريخ المستند 
                                            </h4>

                                            <select
                                                class="form-select form-selectDate transActionInputs mb-2 ">
                                                <option selected>التاريخ</option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                        </div>

                                      
                                        <div class="spaces">
                                            <h4 class="filterationData">الحقوق 
                                            </h4>

                                            <input type="text" class="form-control transActionInputs " placeholder="الحقوق">
                                        </div>

                                        <div class="spaces">
                                            <h4 class="filterationData">رمز الوثيقة 
                                            </h4>

                                            <input type="text" class="form-control transActionInputs " placeholder="رمز الوثيقة">
                                        </div>

                                        <div class="spaces">
                                            <h4 class="filterationData">تاريخ التقديم لدي الامم المتحدة 
                                            </h4>

                                            <select
                                                class="form-select form-selectDate transActionInputs mb-2 ">
                                                <option selected>تاريخ التقديم لدي الامم المتحدة</option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                        </div>

                                        <div class="spaces">
                                            <h4 class="filterationData">رقم الايداع </h4>

                                            <input type="text" class="form-control transActionInputs" placeholder="رقم الايداع">
                                        </div>
                                        <div class="spaces">
                                            <h4 class="filterationData">رابط الوثيقة عن الامم المتحدة </h4>

                                            <input type="text" class="form-control transActionInputs" placeholder="رابط الوثيقة عن الامم المتحدة">
                                        </div>

                                        <div class="spaces">
                                            <h4 class="filterationData">نوع الحدود </h4>

                                            <select class="form-select transActionInputs mb-2 ">
                                                <option selected>نوع الحدود </option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                        </div>



                                        <div class="row">
                                            <div class="col-6">
                                                <div class="spaces ">
                                                    <h4 class="filterationData"> الصفحة من
                                                        </h4>

                                                    <input  type="text" class="form-control transActionInputs" placeholder="الصفحة من">
                                                </div>
                                            </div>

                                            <div class="col-6">
                                                <div class="spaces me-md-2">
                                                    <h4 class="filterationData"> الصفحة الي
                                                        </h4>

                                                    <input  type="text" class="form-control transActionInputs" placeholder="الصفحة الي">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="spaces">
                                            <h4 class="filterationData">الموضوع </h4>

                                            <input type="text"
                                                class="form-control transActionInputsII transActionInputs  mb-2 " placeholder="الموضوع">
                                        </div>



                                    


                                      
  

                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="me-4 ">

                        <div class="">
                            <div class="row">

                                <div class="col-md-12 bg-white ">
                                    <div class="tableOfFiles">
                                        <div class="pb-3 pe-3 mb-3 headOfInputs">
                                            <h2 class="filesHeading"> المستندات </h2>

                                        </div>
                                        <div class="pe-4 ps-4">

                                            <img src="../../assets/Images/tech-processAction/Group 427319123 1.jpg"
                                                class="w-100" alt="map">
                                        </div>
                                    </div>
                                </div>





                            </div>




                        </div>



                    </div>
                </div>
            </div>
            <section class="tableOfFiles mt-5 ">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="d-flex justify-content-end align-items-center ps-5">
                                <button type="button"  class="cancel">الغاء</button>
                                <button type="button"  class="archieve bg-white" data-bs-toggle="modal"
                                data-bs-target="#cancel">رفض</button>

                                <button type="button"  class="SendDocuments"> التالي</button>

                            </div>
                        </div>
                    </div>
                </div>

            </section>

          
        </section>
    </div>
</div>