<div class="  bg-light ">
    <div class=" pb-5 container ">
        <section class="mt-5 pt-5 pb-5 sectionOfTable">
            <div class=" pb-3 ">
                <div>
                    <h2 class="text">الرئيسية/المستندات</h2>

                </div>

            </div>
            <div class="row">
                <div class="col-md-7 ">
                    <div class=" tableOfFiles  h-100">
                        <div
                            class=" headOfInputs mb-3  pe-3 d-flex justify-content-between pb-3 align-items-center">
                            <div class="w-50">
                                <h2 class="filesHeading"> المستندات </h2>
                            </div>
                            <div class="d-flex w-50 ps-5 ">
                                <div class="w-100  text-start">
                                    <button type="button" class="createSubFile ms-2 text-center">انشاء
                                        ملف فرعي</button>
                                    <button type="button" class="uploadPages text-center">رفع
                                        صفحات</button>
                                </div>

                            </div>
                        </div>
                        <div class="ps-3 pe-3 ">
                            <div class="row g-2">
                                <div class="col-sm-12">
                                    <table class="table text-end border-top  ">
                                        <thead class="">
                                            <tr>
                                                <th scope="col" class="tableHeadTr">رقم المستند</th>
                                                <th scope="col" class="tableHeadTr">الصفحة من </th>
                                                <th scope="col" class="tableHeadTr">الصفحة الي </th>
                                                <th scope="col" class="tableHeadTr">ربط الطبقات </th>
                                                <th scope="col" class="tableHeadTr"> حالة النشر </th>

                                                <th scope="col" class="tableHeadTr">الإجراء</th>
                                            </tr>
                                        </thead>
                                        <tbody class="tableData" *ngIf="trFlag">

                                            <tr >
                                                <th scope="row" class="tableData">
                                                    1025
                                                </th>
                                              <td>1</td>
                                              <td>25</td>
                                              <td>0</td>
                                              <td>عام</td>

                                          
                                    
                                              <td class="text-center  d-flex justify-content-evenly align-items-center" >
                                                    <button type="button" class="btn attached ">
                                                        <img src="../../assets/Images/GISP03/Vector.jpg" class="w-0" alt="">
                                                        تم الربط
                                                    </button>
                                              
                                              
                                                <div class="w-50 position-relative ">
                                                  <img src="../../assets/Images/Table/file 1.png" class="ms-2"  alt="PDF">
                                                  <span class=" pdfBadge translate-middle badge roun">
                                                    2
                                                    <span class="visually-hidden">unread messages</span>
                                                  </span>
                                                </div>
                                                <img src="../../assets/Images/Table/view 1.png" alt="View">

                                               
                                              </td>
                                           
        
                                              </tr>

                                


                                              <tr >
                                                <th scope="row" class="tableData">
                                                    1025
                                                </th>
                                              <td>1</td>
                                              <td>25</td>
                                              <td>0</td>
                                              <td>عام</td>

                                          
                                    
                                              <td class="text-center  d-flex justify-content-evenly align-items-center" >
                                                    <button type="button" class="btn attached ">
                                                        ربط 
                                                    </button>
                                              
                                              
                                                <div class="w-50 position-relative ">
                                                  <img src="../../assets/Images/Table/file 1.png" class="ms-2"  alt="PDF">
                                                  <span class=" pdfBadge translate-middle badge roun">
                                                    2
                                                    <span class="visually-hidden">unread messages</span>
                                                  </span>
                                                </div>
                                                <img src="../../assets/Images/Table/view 1.png" alt="View">

                                               
                                              </td>
                                           
        
                                              </tr>


                                              <tr >
                                                <th scope="row" class="tableData">
                                                    1025
                                                </th>
                                              <td>1</td>
                                              <td>25</td>
                                              <td>0</td>
                                              <td>عام</td>

                                          
                                    
                                              <td class="text-center  d-flex justify-content-evenly align-items-center" >
                                                    <button type="button" class="btn attached ">
                                                        <img src="../../assets/Images/GISP03/Vector.jpg"  alt="attached">
                                                        تم الربط
                                                    </button>
                                              
                                              
                                                <div class="w-50 position-relative ">
                                                  <img src="../../assets/Images/Table/file 1.png" class="ms-2"  alt="PDF">
                                                  <span class=" pdfBadge translate-middle badge roun">
                                                    2
                                                    <span class="visually-hidden">unread messages</span>
                                                  </span>
                                                </div>
                                                <img src="../../assets/Images/Table/view 1.png" alt="View">

                                               
                                              </td>
                                           
        
                                              </tr>

                                              <tr >
                                                <th scope="row" class="tableData">
                                                    1025
                                                </th>
                                              <td>1</td>
                                              <td>25</td>
                                              <td>0</td>
                                              <td>عام</td>

                                          
                                    
                                              <td class="text-center  d-flex justify-content-evenly align-items-center" >
                                                    <button type="button" class="btn attached ">
                                                        <img src="../../assets/Images/GISP03/Vector.jpg"  alt="attached">
                                                        تم الربط
                                                    </button>
                                              
                                              
                                                <div class="w-50 position-relative ">
                                                  <img src="../../assets/Images/Table/file 1.png" class="ms-2"  alt="PDF">
                                                  <span class=" pdfBadge translate-middle badge roun">
                                                    2
                                                    <span class="visually-hidden">unread messages</span>
                                                  </span>
                                                </div>
                                                <img src="../../assets/Images/Table/view 1.png" alt="View">

                                               
                                              </td>
                                           
        
                                              </tr>


                                              <tr >
                                                <th scope="row" class="tableData">
                                                    1025
                                                </th>
                                              <td>1</td>
                                              <td>25</td>
                                              <td>0</td>
                                              <td>عام</td>

                                          
                                    
                                              <td class="text-center  d-flex justify-content-evenly align-items-center" >
                                                    <button type="button" class="btn attached ">
                                                        ربط 
                                                    </button>
                                              
                                              
                                                <div class="w-50 position-relative ">
                                                  <img src="../../assets/Images/Table/file 1.png" class="ms-2"  alt="PDF">
                                                  <span class=" pdfBadge translate-middle badge roun">
                                                    2
                                                    <span class="visually-hidden">unread messages</span>
                                                  </span>
                                                </div>
                                                <img src="../../assets/Images/Table/view 1.png" alt="View">

                                               
                                              </td>
                                           
        
                                              </tr>


                                              <tr >
                                                <th scope="row" class="tableData">
                                                    1025
                                                </th>
                                              <td>1</td>
                                              <td>25</td>
                                              <td>0</td>
                                              <td>عام</td>

                                          
                                    
                                              <td class="text-center  d-flex justify-content-evenly align-items-center" >
                                                    <button type="button" class="btn attached ">
                                                        <img src="../../assets/Images/GISP03/Vector.jpg"  alt="attached">
                                                        تم الربط
                                                    </button>
                                              
                                              
                                                <div class="w-50 position-relative ">
                                                  <img src="../../assets/Images/Table/file 1.png" class="ms-2"  alt="PDF">
                                                  <span class=" pdfBadge translate-middle badge roun">
                                                    2
                                                    <span class="visually-hidden">unread messages</span>
                                                  </span>
                                                </div>
                                                <img src="../../assets/Images/Table/view 1.png" alt="View">

                                               
                                              </td>
                                           
        
                                              </tr>


                                              <tr >
                                                <th scope="row" class="tableData">
                                                    1025
                                                </th>
                                              <td>1</td>
                                              <td>25</td>
                                              <td>0</td>
                                              <td>عام</td>

                                          
                                    
                                              <td class="text-center  d-flex justify-content-evenly align-items-center" >
                                                    <button type="button" class="btn attached ">
                                                        ربط 
                                                    </button>
                                              
                                              
                                                <div class="w-50 position-relative ">
                                                  <img src="../../assets/Images/Table/file 1.png" class="ms-2"  alt="PDF">
                                                  <span class=" pdfBadge translate-middle badge roun">
                                                    2
                                                    <span class="visually-hidden">unread messages</span>
                                                  </span>
                                                </div>
                                                <img src="../../assets/Images/Table/view 1.png" alt="View">

                                               
                                              </td>
                                           
        
                                              </tr>


                                              <tr >
                                                <th scope="row" class="tableData">
                                                    1025
                                                </th>
                                              <td>1</td>
                                              <td>25</td>
                                              <td>0</td>
                                              <td>عام</td>

                                          
                                    
                                              <td class="text-center  d-flex justify-content-evenly align-items-center" >
                                                    <button type="button" class="btn attached ">
                                                        <img src="../../assets/Images/GISP03/Vector.jpg" alt="attached">
                                                        تم الربط
                                                    </button>
                                              
                                              
                                                <div class="w-50 position-relative ">
                                                  <img src="../../assets/Images/Table/file 1.png" class="ms-2"  alt="PDF">
                                                  <span class=" pdfBadge translate-middle badge roun">
                                                    2
                                                    <span class="visually-hidden">unread messages</span>
                                                  </span>
                                                </div>
                                                <img src="../../assets/Images/Table/view 1.png" alt="View">

                                               
                                              </td>
                                           
        
                                              </tr>

                                              



                                        </tbody>


                                    </table>

                                    <div class="w-100 text-center p-3" *ngIf="trFlag == false">
                                        <img src="../../assets/Images/tech-page3/Time management-rafiki 1.png"
                                            alt="time-management">
                                        <figcaption class="imgCaption pb-3">
                                            لم تقم بإضافة أي فهرس
                                        </figcaption>

                                        <button class="btnOfCreateSubFile">انشاء ملف فرعي</button>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-5 ">
                    <div class="me-4  h-100">
                        <div class="tableOfFiles h-100 w-100">
                            <div class="pb-3 pe-3 mb-3 headOfInputs">
                                <h2 class="filesHeading"> المستندات </h2>

                            </div>
                            <div class="pe-4 ps-4 ">

                                <img src="../../assets/Images/tech-processAction/Group 427319123 1.jpg"
                                    class="w-100 " alt="map">
                            </div>
                        </div>
                    



                    </div>
                </div>
            </div>
            <section class="tableOfFiles mt-5 ">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="d-flex justify-content-end align-items-center ps-5">
                                <button type="button" class="archieve">الرجوع</button>
                                <button type="button" class="SendDocuments">  تحويل</button>

                            </div>
                        </div>
                    </div>
                </div>

            </section>
<div class="modalOftechpage3 d-none">
<!--Modal Of إضافة المستند بأكمله كفهرس-->
<div class="d-flex justify-content-center align-items-center bg-primary">
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal"
data-bs-target="#exampleModal">
Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade " id="exampleModal" tabindex="-1"
aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="row">
<div class="col-sm-12">
    <div class="d-flex justify-content-center align-items-center  vh-100">
        <div class="modal-dialog">
            <div class="modal-content ">
                <div class="modal-header p-3  mb-2">
                    <h1 class="modal-title   fs-5" id="exampleModalLabel">إضافة
                        المستند بأكمله كفهرس</h1>
                    <button type="button" class="btn-close"
                        data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="w-100  bg-white">

                        <div class="ps-3 pe-3 ">


                            <div class="row">

                                <div class="col-sm-12 col-md-6">
                                    <div class=" inputDisplay">
                                        <div>
                                            <h4 class="filterationData">
                                                نوع المستند </h4>

                                            <select
                                                class="form-select transActionInputs mb-2 ">
                                                <option selected> نوع المستند
                                                </option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                        </div>
                                        <div>
                                            <h4 class="filterationData">
                                                الحقوق </h4>

                                            <input type="text"
                                                id="TransactionNumber"
                                                class="form-control transActionInputs mb-2 "
                                                placeholder="الحقوق">
                                        </div>






                                        <div>
                                            <h4 class="filterationData">تاريخ التقديم لدي الامم المتحدة
                                                
                                            </h4>

                                            <select
                                                class="form-select form-selectDate transActionInputs mb-2 ">
                                                <option selected>تاريخ التقديم لدى الأمم المتحدة
                                                </option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                        </div>





                                        <div>
                                            <h4 class="filterationData">
                                                نوع الحدود </h4>

                                            <select
                                                class="form-select transActionInputs mb-2 ">
                                                <option selected> نوع الحدود
                                                </option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                        </div>




                                    </div>
                                </div>

                                <div class="col-sm-12 col-md-6">
                                    <div class="">
                                        <div>
                                            <h4 class="filterationData"> 
                                                المصدر </h4>

                                            <select
                                                class="form-select transActionInputs mb-2 ">
                                                <option selected>
                                                    المصدر</option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                        </div>
                                        <div>
                                            <h4 class="filterationData"> رمز المستند
                                                     </h4>

                                            <input type="text"
                                                id="TransactionNumber"
                                                class="form-control transActionInputs mb-2 " placeholder="رمز المستند">
                                        </div>

                                     

                                       
                                        <div>
                                            <h4 class="filterationData"> رقم الايداع </h4>

                                            <input type="text"
                                                id="TransactionNumber"
                                                class="form-control transActionInputs mb-2 " placeholder="رقم الايداع">
                                        </div>

                                        <div>
                                            <h4 class="filterationData"> رابط توثيق الامم المتحدة
                                                     </h4>

                                            <input type="text"
                                                id="TransactionNumber"
                                                class="form-control transActionInputs mb-2 " placeholder="رابط توثيق الامم المتحدة">
                                        </div>




                                    </div>

                                </div>



                            </div>







                        </div>



                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class=" save">حفظ</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

</div>
</div>


<!--Modal Of انشاء مستند فرعي-->
<div class="d-flex justify-content-center align-items-center bg-primary">
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal"
data-bs-target="#exampleModal2">
Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade " id="exampleModal2" tabindex="-1"
aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="row justify-content-center align-items-center">
<div class="col-sm-6 ">
    <div class="d-flex justify-content-center align-items-center  vh-100">
        <div class="modal-dialog">
            <div class="modal-content ">
                <div class="modal-header p-3  mb-2">
                    <h1 class="modal-title   fs-5" id="exampleModalLabel">انشاء مستند فرعي</h1>
                    <button type="button" class="btn-close"
                        data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="w-100  bg-white">

                        <div class="ps-3 pe-3 ">


                            <div class="row">

                                <div class="col-sm-12 col-md-6">
                                    <div class=" inputDisplay">
                                        <div>
                                            <h4 class="filterationData">
                                                نوع المستند </h4>

                                            <select
                                                class="form-select transActionInputs mb-2 ">
                                                <option selected> نوع المستند
                                                </option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                        </div>

                                        <div>
                                            <h4 class="filterationData">تاريخ المستند  
                                                
                                            </h4>

                                            <select
                                                class="form-select form-selectDate transActionInputs mb-2 ">
                                                <option selected> التاريخ 
                                                </option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                        </div>
                                        <div>
                                            <h4 class="filterationData">
                                                رمز الوثيقة </h4>

                                            <input type="text"
                                                id="TransactionNumber"
                                                class="form-control transActionInputs mb-2 "
                                                placeholder="رمز الوثيقة">
                                        </div>

                                        <div>
                                            <h4 class="filterationData">
                                                رقم الايداع  </h4>

                                            <input type="text"
                                                id="TransactionNumber"
                                                class="form-control transActionInputs mb-2 "
                                                placeholder=" رقم الايداع ">
                                        </div>






                                        <div>
                                            <h4 class="filterationData">نوع الحدود
                                                
                                            </h4>

                                            <select
                                                class="form-select form-selectDate transActionInputs mb-2 ">
                                                <option selected>نوع الحدود
                                                </option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                        </div>





              




                                    </div>
                                </div>

                                <div class="col-sm-12 col-md-6">
                                    <div class="">
                                        <div>
                                            <h4 class="filterationData"> 
                                                المصدر </h4>

                                            <select
                                                class="form-select transActionInputs mb-2 ">
                                                <option selected>
                                                    المصدر</option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                        </div>
                                        <div>
                                            <h4 class="filterationData">  الحقوق
                                                     </h4>

                                            <input type="text"
                                                id="TransactionNumber"
                                                class="form-control transActionInputs mb-2 " placeholder=" الحقوق">
                                        </div>

                                     
                                        <div>
                                            <h4 class="filterationData"> 
                                                تاريخ التقديم لدى الامم المتحدة </h4>

                                            <select
                                                class="form-select form-selectDate transActionInputs mb-2 ">
                                                <option selected>
                                                    تاريخ التقديم لدى الامم المتحدة</option>
                                                <option value="1">One</option>
                                                <option value="2">Two</option>
                                                <option value="3">Three</option>
                                            </select>
                                        </div>
                                       
                                     
                                        <div>
                                            <h4 class="filterationData">  رابط الوثيقة عن الامم المتحدة
                                                     </h4>

                                            <input type="text"
                                                id="TransactionNumber"
                                                class="form-control transActionInputs mb-2 " placeholder=" رابط الوثيقة عن الامم المتحدة">
                                        </div>


                                        <div class="row ">
                                            <div class="col-6 ">
                                                <div class="ms-2">
                                                    <h4 class="filterationData">  الصفحة من
                                                             </h4>

                                                    <input type="text"
                                                        id="TransactionNumber"
                                                        class="form-control transActionInputs mb-2 " placeholder=" الصفحة من">
                                                </div>
                                            
                                            </div>

                                            <div class="col-6">
                                                <div>
                                                    <h4 class="filterationData">  
                                                        الصفحةالي </h4>

                                                    <input type="text"
                                                        id="TransactionNumber"
                                                        class="form-control transActionInputs mb-2 " placeholder=" الصفحةالي">
                                                </div>
                                            </div>
                                        </div>




                                    </div>

                                </div>

                                <div class="col-md-12">
                                    <div>
                                        <h4 class="filterationData">الموضوع <span>*</span></h4>
                        
                                        <input type="text" class="form-control transActionInputsII mb-2 ">
                                      </div>
                                </div>



                            </div>







                        </div>



                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class=" save">حفظ</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

</div>
</div>

<!--Modal Of ارسال للاعتماد-->
<div class="d-flex justify-content-center align-items-center bg-primary">
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal"
data-bs-target="#exampleModal3">
Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade " id="exampleModal3" tabindex="-1"
aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="row justify-content-center align-items-center">
<div class="col-sm-12 ">
    <div class="d-flex justify-content-center align-items-center  vh-100">
        <div class="modal-dialog">
            <div class="modal-content ">
                <div class="modal-header p-3  mb-2">
                    <h1 class="modal-title   fs-5" id="exampleModalLabel">انشاء مستند فرعي</h1>
                    <button type="button" class="btn-close"
                        data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="w-100  bg-white">

                        <div class="p-2">

                            
                            <div class="col-md-12">
                                <div class="p-2">
                                    <h4 class="filterationData">اكتب ملاحظتك</h4>
                    
                                    <input type="text" class="form-control transActionInputsIII mb-2 " placeholder="اكتب ملاحظتك">
                                  </div>
                            </div>







                        </div>



                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class=" save">ارسال</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

</div>
</div>


<!--Modal OF لم تقم بإضافة أي فهرس ، هل تريد إضافة المستند بأكمله كفهرس؟-->
<div class="d-flex justify-content-center align-items-center bg-primary">
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal"
data-bs-target="#exampleModal4">
Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade " id="exampleModal4" tabindex="-1"
aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="row justify-content-center align-items-center">
<div class="col-sm-12 ">
    <div class="d-flex justify-content-center align-items-center  vh-100">
        <div class="modal-dialog">
            <div class="modal-content ">
                <div class="modal-header p-3  mb-2">
                    <h1 class="modal-title   fs-5" id="exampleModalLabel">انشاء مستند فرعي</h1>
                    <button type="button" class="btn-close"
                        data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="w-100  bg-white">

                        <div class="p-2">

                            
                            <div class="col-md-12">
                                <div class="w-100 text-center p-3" *ngIf="trFlag == false">
                                    <img src="../../assets/Images/tech-page3/Time management-rafiki 1.png"
                                        alt="time-management">
                                    <figcaption class="imgCaption pb-3">
                                        لم تقم بإضافة أي فهرس ، هل تريد إضافة المستند بأكمله كفهرس؟ 
                                    </figcaption>

                                  


                                </div>
                            </div>







                        </div>



                    </div>

                </div>
                <div class="modal-footer mb-5 d-flex justify-content-center align-items-center">
                    <button type="button" class="No">لا</button>

                    <button type="button" class=" save">نعم</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

</div>
</div>

<!--Modal Of رفض-->
<div class="d-flex justify-content-center align-items-center bg-primary">
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal"
data-bs-target="#exampleModal5">
Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade " id="exampleModal5" tabindex="-1"
aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="row justify-content-center align-items-center">
<div class="col-sm-12 ">
    <div class="d-flex justify-content-center align-items-center  vh-100">
        <div class="modal-dialog">
            <div class="modal-content ">
                <div class="modal-header p-3  mb-2">
                    <h1 class="modal-title   fs-5" id="exampleModalLabel">رفض  </h1>
                    <button type="button" class="btn-close"
                        data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="w-100  bg-white">

                        <div class="p-2">

                            
                            <div class="col-md-12">

                                <div>
                                    <h4 class="filterationData">
                                        ارسال الي  </h4>

                                    <select
                                        class="form-select transActionInputs mb-2 ">
                                        <option selected> مدير عام 
                                        </option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </div>
                                <div >
                                    <h4 class="filterationData">اكتب ملاحظتك</h4>
                    
                                    <input type="text" class="form-control transActionInputsII mb-2 " placeholder="اكتب ملاحظتك">
                                  </div>
                            </div>







                        </div>



                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class=" save">رفض</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

</div>
</div>

</div>

        </section>
    </div>
</div>