<div class="  bg-light ">
    <div class=" pb-5 container ">
   
      <section class="mt-5 pt-5 pb-5 sectionOfTable">
        <div class=" pb-3 ">
          <h2 class="text">الرئيسية/المستندات</h2>
        

      </div>
       <div class=" tableOfFiles bg-white">
      
        <div class="ps-3  pe-3 pb-3">
          <h2 class="filesHeading">انشاء معاملة</h2>
          

      </div>
      <div class="ps-3 pe-3 ">
        <div class="row g-2 ">

          <div class="col-sm-12 col-md-6">
   <div class=" inputDisplay">

    <div>
        <h4 class="filterationData">معرف العملية <span>*</span></h4>
        
        <input type="text" id="TransactionNumber" class="form-control transActionInputs mb-2 " placeholder="معرف العملية"> 
      </div>

<div>
    <h4 class="filterationData">مستوي السرية <span>*</span></h4>

    <select class="form-select transActionInputs mb-2 " >
      <option selected>قم باختيارالدولة</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
</div>



    <div>
      <h4 class="filterationData">التاريخ <span>*</span></h4>

      <select class="form-select form-selectDate transActionInputs mb-2 " >
        <option selected>التاريخ</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>





<div>
  <h4 class="filterationData">السلطة  <span>*</span></h4>

  <select class="form-select transActionInputs mb-2 " >
    <option selected>قم باختيار مستوي السرية</option>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
  </select>
</div>
<div>
    <h4 class="filterationData">موقع المستند<span>*</span></h4>
    
    <input type="text" id="TransactionNumber" class="form-control transActionInputs mb-2 " placeholder="موقع المستند">
  </div>

  <div>
    <h4 class="filterationData">الموضوع <span>*</span></h4>

    <input type="text" class="form-control transActionInputsII mb-2 " placeholder="الموضوع">
  </div>

   </div>
          </div>

          <div class="col-sm-12 col-md-6">
            <div class="">
                <div>
                    <h4 class="filterationData"> نوع العملية <span>*</span></h4>
    
                    <select class="form-select transActionInputs mb-2 " >
                      <option selected>قم باختيارالدولة</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                </div>
                <div>
                    <h4 class="filterationData">اولوية  <span>*</span></h4>
    
                    <select class="form-select transActionInputs mb-2 " >
                      <option selected>قم باختيارالدولة</option>
                      <option value="1">One</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                    </select>
                </div>

   <div>
    <h4 class="filterationData">الدولة  <span>*</span></h4>

    <select class="form-select transActionInputs mb-2 " >
      <option selected>قم باختيارالدولة</option>
      <option value="1">One</option>
      <option value="2">Two</option>
      <option value="3">Three</option>
    </select>
</div>

<div>
    <h4 class="filterationData"> رمز التوثيق <span>*</span></h4>
    
    <input type="text" id="TransactionNumber" class="form-control transActionInputs mb-2 " placeholder="رمز التوثيق">
  </div>

<div>
<h4 class="filterationData">ارفع الملف <span>*</span></h4>

<input type="text" class="form-control transActionInputs mb-2 updloadFile" placeholder="ارفع الملف">
</div>


<div>
    <h4 class="filterationData">المرفقات الاضافية <span>*</span></h4>

    <input type="text" class="form-control transActionInputsII mb-2 " placeholder="المرفقات الاضافية">
  </div>

             </div>

          </div>

          <div class="col-sm-12   ">
            <div class="">
                <h4 class="filterationData"> ارفاق معاملة بمعاملة قديمة  <span>*</span></h4>
            
                <input type="text" id="TransactionNumber" class="form-control transActionInputs mb-2 " placeholder="12547896">
            </div>
          
          </div>

        </div>
    
      

      </div>
       </div>



       
       <section class="mt-2">
      <div class="container-fluid ">
        <div class="row ">
            <div class="col-md-7  p-0 m-0">
                <div class="accordion-container  w-100 h-100">
                  <div class="accordion " id="accordionExample">
                    <div class="accordion-item  ">
                      <h2 class="accordion-header">
                        <button class="accordion-button btn-primary p-0" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                     
                          <div class="p-3 d-flex justify-content-between w-100 borderBottom align-items-center ">
                            <h2 class="headings">المستندات</h2>
                            <i class="fa-solid fa-arrow-down"></i>
                          </div>
                        </button>
                      </h2>
                      <div id="collapseOne" class="accordion-collapse collapse show " data-bs-parent="#accordionExample">
                        <div class="accordion-body  ">

                          <table class="table  mb-0 text-end border-top ">
                            <thead class="">
                              <tr>
                                <th scope="col" class="tableHeadTr">رقم المستند</th>
                                <th scope="col" class="tableHeadTr">الصفحة من </th>
                                <th scope="col" class="tableHeadTr">الصفحة الي </th>
                                <th scope="col" class="tableHeadTr">ربط الطبقات </th>
                                <th scope="col" class="tableHeadTr">الإجراء</th>
                              </tr>
                            </thead>
                            <tbody class="tableData">
                            
                              <tr >
                                <th scope="row" class="tableData">
                                    1025
                                </th>
                              <td>1</td>
                              <td>25</td>
                              <td>0</td>
                          
                    
                              <td class="text-center  d-flex justify-content-center" >
                                <div class="w-50 position-relative ">
                                  <img src="../../assets/Images/Table/file 1.png" class="ms-2"  alt="PDF">
                                  <span class=" pdfBadge translate-middle badge roun">
                                    2
                                    <span class="visually-hidden">unread messages</span>
                                  </span>
                                </div>
                                
                                <img src="../../assets/Images/Table/view 1.png" alt="View">
                               
                              </td>
                           

                              </tr>
                              <tr >
                                <th scope="row" class="tableData">
                                    1025
                                </th>
                              <td>1</td>
                              <td>25</td>
                              <td>0</td>
                          
                    
                              <td class="text-center  d-flex justify-content-center" >
                                <div class="w-50 position-relative ">
                                  <img src="../../assets/Images/Table/file 1.png" class="ms-2"  alt="PDF">
                                  <span class=" pdfBadge translate-middle badge roun">
                                    2
                                    <span class="visually-hidden">unread messages</span>
                                  </span>
                                </div>
                                
                                <img src="../../assets/Images/Table/view 1.png" alt="View">
                               
                              </td>
                           

                              </tr>
                              <tr >
                                <th scope="row" class="tableData">
                                    1025
                                </th>
                              <td>1</td>
                              <td>25</td>
                              <td>0</td>
                          
                    
                              <td class="text-center  d-flex justify-content-center" >
                                <div class="w-50 position-relative ">
                                  <img src="../../assets/Images/Table/file 1.png" class="ms-2"  alt="PDF">
                                  <span class=" pdfBadge translate-middle badge roun">
                                    2
                                    <span class="visually-hidden">unread messages</span>
                                  </span>
                                </div>
                                
                                <img src="../../assets/Images/Table/view 1.png" alt="View">
                               
                              </td>
                           

                              </tr>
                              
                              <tr >
                                <th scope="row" class="tableData">
                                    1025
                                </th>
                              <td>1</td>
                              <td>25</td>
                              <td>0</td>
                          
                    
                              <td class="text-center  d-flex justify-content-center" >
                                <div class="w-50 position-relative ">
                                  <img src="../../assets/Images/Table/file 1.png" class="ms-2"  alt="PDF">
                                  <span class=" pdfBadge translate-middle badge roun">
                                    2
                                    <span class="visually-hidden">unread messages</span>
                                  </span>
                                </div>
                                
                                <img src="../../assets/Images/Table/view 1.png" alt="View">
                               
                              </td>
                           

                              </tr>
                              <tr >
                                <th scope="row" class="tableData">
                                    1025
                                </th>
                              <td>1</td>
                              <td>25</td>
                              <td>0</td>
                          
                    
                              <td class="text-center  d-flex justify-content-center" >
                                <div class="w-50 position-relative ">
                                  <img src="../../assets/Images/Table/file 1.png" class="ms-2"  alt="PDF">
                                  <span class=" pdfBadge translate-middle badge roun">
                                    2
                                    <span class="visually-hidden">unread messages</span>
                                  </span>
                                </div>
                                
                                <img src="../../assets/Images/Table/view 1.png" alt="View">
                               
                              </td>
                           

                              </tr>
                              <tr >
                                <th scope="row" class="tableData">
                                    1025
                                </th>
                              <td>1</td>
                              <td>25</td>
                              <td>0</td>
                          
                    
                              <td class="text-center  d-flex justify-content-center" >
                                <div class="w-50 position-relative ">
                                  <img src="../../assets/Images/Table/file 1.png" class="ms-2"  alt="PDF">
                                  <span class=" pdfBadge translate-middle badge roun">
                                    2
                                    <span class="visually-hidden">unread messages</span>
                                  </span>
                                </div>
                                
                                <img src="../../assets/Images/Table/view 1.png" alt="View">
                               
                              </td>
                           

                              </tr>
                              <tr >
                                <th scope="row" class="tableData">
                                    1025
                                </th>
                              <td>1</td>
                              <td>25</td>
                              <td>0</td>
                          
                    
                              <td class="text-center  d-flex justify-content-center" >
                                <div class="w-50 position-relative ">
                                  <img src="../../assets/Images/Table/file 1.png" class="ms-2"  alt="PDF">
                                  <span class=" pdfBadge translate-middle badge roun">
                                    2
                                    <span class="visually-hidden">unread messages</span>
                                  </span>
                                </div>
                                
                                <img src="../../assets/Images/Table/view 1.png" alt="View">
                               
                              </td>
                           

                              </tr>
                              <tr >
                                <th scope="row" class="tableData">
                                    1025
                                </th>
                              <td>1</td>
                              <td>25</td>
                              <td>0</td>
                          
                    
                              <td class="text-center  d-flex justify-content-center" >
                                <div class="w-50 position-relative ">
                                  <img src="../../assets/Images/Table/file 1.png" class="ms-2"  alt="PDF">
                                  <span class=" pdfBadge translate-middle badge roun">
                                    2
                                    <span class="visually-hidden">unread messages</span>
                                  </span>
                                </div>
                                
                                <img src="../../assets/Images/Table/view 1.png" alt="View">
                               
                              </td>
                           

                              </tr>
                              <tr >
                                <th scope="row" class="tableData">
                                    1025
                                </th>
                              <td>1</td>
                              <td>25</td>
                              <td>0</td>
                          
                    
                              <td class="text-center  d-flex justify-content-center" >
                                <div class="w-50 position-relative ">
                                  <img src="../../assets/Images/Table/file 1.png" class="ms-2"  alt="PDF">
                                  <span class=" pdfBadge translate-middle badge roun">
                                    2
                                    <span class="visually-hidden">unread messages</span>
                                  </span>
                                </div>
                                
                                <img src="../../assets/Images/Table/view 1.png" alt="View">
                               
                              </td>
                           

                              </tr> 
                              <tr >
                                <th scope="row" class="tableData">
                                    1025
                                </th>
                              <td>1</td>
                              <td>25</td>
                              <td>0</td>
                          
                    
                              <td class="text-center  d-flex justify-content-center" >
                                <div class="w-50 position-relative ">
                                  <img src="../../assets/Images/Table/file 1.png" class="ms-2"  alt="PDF">
                                  <span class=" pdfBadge translate-middle badge roun">
                                    2
                                    <span class="visually-hidden">unread messages</span>
                                  </span>
                                </div>
                                
                                <img src="../../assets/Images/Table/view 1.png" alt="View">
                               
                              </td>
                           

                              </tr>
                              <tr >
                                <th scope="row" class="tableData">
                                    1025
                                </th>
                              <td>1</td>
                              <td>25</td>
                              <td>0</td>
                          
                    
                              <td class="text-center   d-flex justify-content-center" >
                                <div class="w-50 position-relative ">
                                  <img src="../../assets/Images/Table/file 1.png" class="ms-2"  alt="PDF">
                                  <span class=" pdfBadge translate-middle badge roun">
                                    2
                                    <span class="visually-hidden">unread messages</span>
                                  </span>
                                </div>
                                
                                <img src="../../assets/Images/Table/view 1.png"   alt="View">
                               
                              </td>
                           

                              </tr>

                         
                           
                        
                            </tbody>
                          </table>


                        </div>
                      </div>
                    </div>
              
              
                  </div>
                </div>

            </div>
            <div class="col-md-5  ps-0">
             <div class="bg-white accordion-container  h-100">

            <div class="accordion" id="accordionExampleTwo">
              <div class="accordion-item">
                <h2 class="accordion-header  bg-light border-bottom-none">
                  <button class="accordion-button p-0" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
                    <div class="p-3  d-flex w-100 justify-content-between align-items-center border-bottom">
                      <h2 class="headings">السجل </h2>
                      <i class="fa-solid fa-arrow-down"></i>

                  </div>
                  </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse show" data-bs-parent="#accordionExampleTwo">
                  <div class="accordion-body  m-0 p-0">
                    <div class="d-flex justify-content-evenly bg-light headers w-100 align-items-center ">
                      <button class="headingBranch" routerLink="internalTransmitter" routerLinkActive="activeRouter">المرسلات الداخلية</button>
                      <button class="headingBranch" routerLink="sectionalTransmitter"routerLinkActive="activeRouter">المرسلات الاقسام</button>
                      <button type="button" class="headingBranch" routerLink="log" routerLinkActive="activeRouter">السجل</button>

                    </div>
  

              <router-outlet></router-outlet>

                  </div>
                </div>
              </div>
          
            </div>

           
             </div>

        

            </div>

        </div>
      </div>

       </section>
      </section>

      <section class="tableOfFiles mt-5 sectionOfTable">
        <div class="d-flex justify-content-end align-items-center ps-5">
          <span class="saveAsDraft">ارشيف</span>
         <button class="archieve">رفض</button>
         <button class="SendDocuments" data-bs-toggle="modal"
         data-bs-target="#reDirect">إعادة توجيه</button>
    
    
        </div>
    
       </section>
    
  </div>
   </div>


   <div>

    <!--Modal Of  اعادة التوجيه-->
    <div class="d-flex justify-content-center  align-items-center ">
   

      <!-- Modal -->
      <div class="modal fade " id="reDirect" tabindex="-1"
          aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="row justify-content-center  align-items-center ">
              <div class="col-sm-12 d-flex  justify-content-center align-items-center  vh-100">
                  <div class="modal-dialog  ">
                      <div class="modal-content  m-5">
                          <div class=" ">
                              <div class="modal-header   mb-2 ">
                                  <h1 class="modal-title   fs-5" id="exampleModalLabel">إعادة توجيه  </h1>
                                  <button type="button" class="btn-close"
                                      data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body p-4  mb-2 ">
                                <div class=" ">
                                  <div class="mb-2">
                                    <h4 class="filterationData">ارسل الي</h4>
                                    <select class="form-select transActionInputs" aria-label="Default select example">
                                      <option selected >مدير عام</option>
                                      <option value="1">One</option>
                                      <option value="2">Two</option>
                                      <option value="3">Three</option>
                                    </select>
                                  </div>
                                  <div>
                                    <h4 class="filterationData">اكتب ملاحظتك <span>*</span></h4>
                                
                                    <input type="text" class="form-control transActionInputsII mb-2 " placeholder="اكتب ملاحظتك">
                                  </div>
                             
                                  <div class="text-start">
                                
                                    <button class="filterNextButton">إعادة توجيه </button>
                                  </div>
                                
                                </div>
                              </div>
                           
                          </div>
                      </div>
                  </div>
              </div>
          </div>

      </div>
  </div>
   
</div>