<section class="homePage">
    <div class="homePageLayer"></div>
<div>
    <div class="logo">
        <img src="../../assets/Images/Home/logo.png" class="w-100" alt="logo">
        </div>
        <div class="homeText">
            <h1 class="mt-5 mb-3 title">
                الهيئة العامة للمساحة والمعلومات الجيومكانية
            </h1>

            <button type="button" routerLink="/login" class="btn mt-4 mb-5 loginbtn btn-outline-primary">تسجيل الدخول</button>
        </div>
</div>
<div class="header   d-flex justify-content-center align-items-center">
    <div class="category  category1" routerLink="/login">
        <p>
            نظام الفهرسة
        </p>
    </div>
    <div class="category  category2">
        <p>
            نظام الحدود البحرية والبرية
        </p>
    </div>
    <div class="category  category3">
        <p>
            معرض البيانات
        </p>
    </div>
</div>
</section>