


<section class="vh-100 bg-white">
  <div class="container-fluid">

  <!--right NavBar-->

    <nav class="navbar  naav navbar-expand-lg bg-transparent fixed-top" >
      <div class="container">
        <a class="navbar-brand" routerLink="">
          <img src="../../assets/Images/Home/logo.png" class="w-50" alt="logo">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav  mb-2 mb-lg-0  d-sm-flex  justify-content-between align-items-center w-100">
            
              <div class="">
                  
            <li class="nav-item ">
              <a class="nav-link" routerLink="">
                <span >
                  <img src="../../assets/Images/navbar/Vector.jpg"  alt="navTools">
                </span>
              </a>
            </li>
              </div>
              <div class="me-auto  d-lg-flex align-items-center justify-content-center ">
                <li class="nav-item  ">
                  <a class="nav-link" routerLink="">
                    <span class="spanTools">
                      <i class="fa-solid fa-bell"></i>
                    </span>
                  </a>
                </li>
                
              <li class="nav-item">
                <a class="nav-link" routerLink="">
                  <span class="spanTools">
                    <i class="fa-solid fa-gear"></i>
                  </span>
                </a>
              </li>
    
              <li class="nav-item">
                <a class="nav-link" routerLink="">
                  <span class="spanTools">
                    <img src="../../assets/Images/navbar/united-kingdom (3) 1.png"  alt="navTools">
                  </span>
                </a>
              </li>
    
              <li>
    
                <a class="nav-link active " aria-current="page" routerLink="">
               <span >
                 <img src="../../assets/Images/navbar/aa 1.jpg" class="profilePic"  alt="navTools">
    
                 </span>
                </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="">
                    <span >
                     <h6>محمد رسلان</h6>
                    </span>
                  </a>
                </li>
    
                <li class="nav-item">
                  <a class="nav-link" routerLink="">
                    <span class="spanTools">
                      <i class="fa-solid fa-arrow-down"></i>
                    </span>
                  </a>
                </li>
              </div>
          </ul>
        
        </div>
      </div>
    </nav>


<div class="row">

  <!--right NavBar-->

<div class="col-md-3 rightNavbar d-sm-none d-md-none d-lg-block">

  <div class=" rightNavbar">
    <div class="vh-100   text-start">
        <div class="form-floating pt-5 mt-5">
            <button type="email" class="form-control text-end pe-2 text-white" id="floatingInput" placeholder="name@example.com">
               <i class="fa-solid fa-house"></i>
                الصفحة الرئيسية

            </button>
          </div>
     
    </div>
</div>

</div>

<!--==============================-->

<div class="col-md-9 mt-4">
  <router-outlet></router-outlet>
</div>
</div>
  </div>
</section>






