<div class="bg-light pb-5">
    <div class=" pb-5 container ">
  
      <section class="mt-5 pt-5 pb-5   sectionOfTable ">
        <div class=" pb-5 d-flex justify-content-between  align-items-center">
          <h2 class="text">الرئيسية/المستندات</h2>
          <div class=" w-25 d-flex justify-content-center align-items-center">
            <button  class="  createFile ms-3">إنشاء مستند</button>
            <span class="download">
              <i class="fa-solid fa-down-long"></i>
  
            </span>
  
          </div>
  
        </div>
        <div class=" tableOfFiles  bg-white ">
  
          <div
            class="ps-sm-3 w-sm-100 w-md-100  pe-sm-3 d-sm-block d-lg-flex justify-content-between align-items-center">
            <h2 class="filesHeading">المستندات</h2>
            <form class="d-flex  " role="search">
              <input class="form-control me-2 pt-2 pb-2 border-none " type="search" placeholder="البحث" aria-label="Search">
              <button class="btn btn-outline-success me-2 p-2" type="button"  data-bs-toggle="modal"
              data-bs-target="#exampleModal6">تصفية</button>
            </form>
  
          </div>
          <div class="ps-sm-3 theTable ">
            <table class="table text-end border-top  mt-3">
              <thead class="">
                <tr>
                  <th scope="col" class="tableHeadTr">رقم العملية</th>
                  <th scope="col" class="tableHeadTr">تاريخ العملية</th>
                  <th scope="col" class="tableHeadTr">اسم العملية</th>
                  <th scope="col" class="tableHeadTr">نوع المستند</th>
                  <th scope="col" class="tableHeadTr">الدولة</th>
                  <th scope="col" class="tableHeadTr">حالة النشر</th>
                  <th scope="col" class="tableHeadTr">الحالة</th>
                  <th scope="col" class="tableHeadTr">الإجراء</th>
                  <th scope="col" class="tableHeadTr"></th>
  
  
  
  
                </tr>
              </thead>
              <tbody class=" tableData">
                <tr>
                  <th scope="row" class="tableData">
                    1547896355
                  </th>
                  <td>23/5/2023</td>
                  <td>حدود مع قطر</td>
                  <td>مستند</td>
                  <td>قطر</td>
                  <td>عام</td>
                  <td>
                    <span class="completed">مكتمله</span>
  
  
                  </td>
                  <td class="text-center  d-flex justify-content-center">
                    <div class="w-50 position-relative ">
                      <img src="../../assets/Images/Table/file 1.png" alt="PDF">
                      <span class=" pdfBadge translate-middle badge roun">
                        2
                        <span class="visually-hidden">unread messages</span>
                      </span>
                    </div>
  
  
                  </td>
                  <td>
                    <img src="../../assets/Images/Table/view 1.png" alt="View">
                  </td>
  
  
  
  
                </tr>
                <tr>
                  <th scope="row" class="tableData">
                    1547896355
                  </th>
                  <td>23/5/2023</td>
                  <td>حدود مع قطر</td>
                  <td>مستند</td>
                  <td>قطر</td>
                  <td>عام</td>
                  <td>
                    <span class="waiting">قيد الانتظار</span>
  
                  </td>
                  <td class="text-center  d-flex justify-content-center">
                    <div class="w-50 position-relative ">
                      <img src="../../assets/Images/Table/file 1.png" alt="PDF">
                      <span class=" pdfBadge translate-middle badge roun">
                        2
                        <span class="visually-hidden">unread messages</span>
                      </span>
                    </div>
  
  
                  </td>
                  <td>
                    <img src="../../assets/Images/Table/view 1.png" alt="View">
  
                  </td>
  
  
  
  
                </tr>
                <tr>
                  <th scope="row" class="tableData">
                    1547896355
                  </th>
                  <td>23/5/2023</td>
                  <td>حدود مع قطر</td>
                  <td>مستند</td>
                  <td>قطر</td>
                  <td>عام</td>
                  <td>
                    <span class="underAccept">تحت الاعتماد</span>
                  </td>
                  <td class="text-center  d-flex justify-content-center">
                    <div class="w-50 position-relative ">
                      <img src="../../assets/Images/Table/file 1.png" alt="PDF">
                      <span class=" pdfBadge translate-middle badge roun">
                        2
                        <span class="visually-hidden">unread messages</span>
                      </span>
                    </div>
  
  
                  </td>
                  <td>
                    <img src="../../assets/Images/Table/view 1.png" alt="View">
  
                  </td>
  
  
  
  
                </tr>
                <tr>
                  <th scope="row" class="tableData">
                    1547896355
                  </th>
                  <td>23/5/2023</td>
                  <td>حدود مع قطر</td>
                  <td>مستند</td>
                  <td>قطر</td>
                  <td>عام</td>
                  <td> <span class="completed">مكتمله</span>
                  </td>
                  <td class="text-center  d-flex justify-content-center">
                    <div class="w-50 position-relative ">
                      <img src="../../assets/Images/Table/file 1.png" alt="PDF">
                      <span class=" pdfBadge translate-middle badge roun">
                        2
                        <span class="visually-hidden">unread messages</span>
                      </span>
                    </div>
  
  
                  </td>
                  <td>
                    <img src="../../assets/Images/Table/view 1.png" alt="View">
  
                  </td>
  
  
  
  
                </tr>
                <tr>
                  <th scope="row" class="tableData">
                    1547896355
                  </th>
                  <td>23/5/2023</td>
                  <td>حدود مع قطر</td>
                  <td>مستند</td>
                  <td>قطر</td>
                  <td>عام</td>
                  <td>
                    <span class="waiting">قيد الانتظار</span>
                  </td>
                  <td class="text-center  d-flex justify-content-center">
                    <div class="w-50 position-relative ">
                      <img src="../../assets/Images/Table/file 1.png" alt="PDF">
                      <span class=" pdfBadge translate-middle badge roun">
                        2
                        <span class="visually-hidden">unread messages</span>
                      </span>
                    </div>
  
  
                  </td>
                  <td>
                    <img src="../../assets/Images/Table/view 1.png" alt="View">
  
                  </td>
  
  
  
  
                </tr>
  
                <tr>
                  <th scope="row" class="tableData">
                    1547896355
                  </th>
                  <td>23/5/2023</td>
                  <td>حدود مع قطر</td>
                  <td>مستند</td>
                  <td>قطر</td>
                  <td>عام</td>
                  <td>
                    <span class="cancelled">تم الالغاء</span>
                  </td>
                  <td class="text-center  d-flex justify-content-center">
                    <div class="w-50 position-relative ">
                      <img src="../../assets/Images/Table/file 1.png" alt="PDF">
                      <span class=" pdfBadge translate-middle badge roun">
                        2
                        <span class="visually-hidden">unread messages</span>
                      </span>
                    </div>
  
  
                  </td>
                  <td>
                    <img src="../../assets/Images/Table/view 1.png" alt="View">
  
                  </td>
  
  
  
  
                </tr>
                <tr>
                  <th scope="row" class="tableData">
                    1547896355
                  </th>
                  <td>23/5/2023</td>
                  <td>حدود مع قطر</td>
                  <td>مستند</td>
                  <td>قطر</td>
                  <td>عام</td>
                  <td>
                    <span class="draft">مسودة</span>
                  </td>
                  <td class="text-center  d-flex justify-content-center">
                    <div class="w-50 position-relative ">
                      <img src="../../assets/Images/Table/file 1.png" alt="PDF">
                      <span class=" pdfBadge translate-middle badge roun">
                        2
                        <span class="visually-hidden">unread messages</span>
                      </span>
                    </div>
  
  
                  </td>
                  <td>
                    <img src="../../assets/Images/Table/view 1.png" alt="View">
  
                  </td>
  
  
  
  
                </tr>
              </tbody>
            </table>
          </div>
        </div>
  <div>
  
      <!--Modal Of  filteration-->
      <div class="d-flex justify-content-center  align-items-center ">
     
  
        <!-- Modal -->
        <div class="modal fade " id="exampleModal6" tabindex="-1"
            aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="row justify-content-center  align-items-center ">
                <div class="col-sm-12 d-flex  justify-content-center align-items-center  vh-100">
                    <div class="modal-dialog  ">
                        <div class="modal-content  m-5">
                            <div class=" ">
                                <div class="modal-header   mb-2 ">
                                    <h1 class="modal-title   fs-5" id="exampleModalLabel">تصفية  </h1>
                                    <button type="button" class="btn-close"
                                        data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body p-4  mb-2 ">
                                  <div class=" ">
                                    <div class="">
                                      <h4 class="filterationData">الدولة</h4>
                                      <select class="form-select" aria-label="Default select example">
                                        <option selected>اختار الدولة</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                      </select>
                                    </div>
                                    <div class="">
                                      <h4 class="filterationData">النوع</h4>
                                      <!-- <input type="text" class="form-select"> -->
                                      <select class="form-select" aria-label="Default select example">
                                        <option selected class="filterBoxOption">اختار النوع</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                      </select>
                                    </div>
                                    <div class="">
                                      <h4 class="filterationData">الحالة</h4>
                                      <select class="form-select" aria-label="Default select example">
                                        <option selected>اختار الحالة</option>
                                        <option value="1">On</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                      </select>
                                    </div>
                                    <div class=" ">
                                      <h4 class="filterationData">التاريخ</h4>
                                      <select class="form-select form-selectDate" aria-label="Default select example">
                                        <option selected>التاريخ</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                      </select>
                                    </div>
                                    <div class="text-start">
                                      <button class="filterCloseButton" data-bs-dismiss="modal" aria-label="Close">إلغاء</button>
                                  
                                      <button class="filterNextButton">التالي </button>
                                    </div>
                                  
                                  </div>
                                </div>
                             
                            </div>
                        </div>
                    </div>
                </div>
            </div>
  
        </div>
    </div>
     
  </div>
      </section>
  
    </div>
  </div>
