<div class="p-3">
    <div class="secretaryMessage">
      <div class="p-2">
        <div class="messageInfo d-flex justify-content-evenly align-items-center  w-50 ">
            <h2 class="person">سكرتير
            </h2>
         <h2 class="dote"></h2>

       
            <h2 class="date">23/5/2023</h2>
        </div>
         

           <div class="content ">
            <p>
                في أي محرك بحث ستظهر العديد من المواقع الحديثة العهد في نتائج البحث. على مدى السنين ظهرت نسخ جديدة
            </p>
           </div>
      </div>
    </div>
    <div class="managerOfsecMessage">
        <div class="p-2">
          <div class="messageInfo d-flex justify-content-evenly align-items-center  w-50 ">
              <h2 class="person">مدير السكرتير
              </h2>
           <h2 class="dote"></h2>
  
         
              <h2 class="date">23/5/2023</h2>
          </div>
           
  
             <div class="content ">
              <p>
                  في أي محرك بحث ستظهر العديد من المواقع الحديثة العهد في نتائج البحث. على مدى السنين ظهرت نسخ جديدة
              </p>
             </div>
        </div>
      </div>
      <div class="secretaryMessage">
        <div class="p-2">
          <div class="messageInfo d-flex justify-content-evenly align-items-center  w-50 ">
              <h2 class="person">سكرتير
              </h2>
           <h2 class="dote"></h2>
  
         
              <h2 class="date">23/5/2023</h2>
          </div>
           
  
             <div class="content ">
              <p>
                  في أي محرك بحث ستظهر العديد من المواقع الحديثة العهد في نتائج البحث. على مدى السنين ظهرت نسخ جديدة
              </p>
             </div>
        </div>
      </div>
      <div class="managerOfsecMessage">
        <div class="p-2">
          <div class="messageInfo d-flex justify-content-evenly align-items-center  w-50 ">
              <h2 class="person">مدير السكرتير
              </h2>
           <h2 class="dote"></h2>
  
         
              <h2 class="date">23/5/2023</h2>
          </div>
           
  
             <div class="content ">
              <p>
                  في أي محرك بحث ستظهر العديد من المواقع الحديثة العهد في نتائج البحث. على مدى السنين ظهرت نسخ جديدة
              </p>
             </div>
        </div>
      </div>
</div>